body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
}

header nav a{
    font-family: "copperplate";
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
}

header img{
    width: 10%;
}

.setting{
    display: flex;
    width: 200px;
    background-color: beige;
}