body{
    margin: 0;
    padding: 0;
    background-color: rgb(80, 80, 80);
    box-sizing: border-box;
}



/* ____________________________________________________________________________ général */

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.links{
    transition-duration: 0.2s;
}

.links:hover{
    transform: scale(1.07, 1.07);
}


/* ____________________________________________________________________________ sidenav */

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgba(92, 92, 92, 0.402); 
    overflow-x: hidden; 
    transition: 0.5s; 
    
}

  .sidenav #header-sidenav{
    height: 93px;
    padding: 0 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,#eaff00, #4c00ff);

}

.sidenav #header-sidenav #close-btn{
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: 0; 
}

.sidenav nav{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.sidenav nav .sidenav-link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(163, 163, 163);
    white-space: nowrap;
}

.sidenav nav .dropdown-link{
    padding-top: 1.5rem;
    padding-left: 2rem;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.7rem;
    color: white;
    font-style: italic;
    white-space: nowrap;
}
.sidenav nav .dropdown-link img{
    width: 0.5rem;
    cursor: pointer;
}

.sidenav nav a{
    font-family: "copperplate";
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.sidenav nav .dropdown{
    height: 0px;
    width: 100%;
    transition: 0.3s;
    overflow-x: hidden; 
    overflow-y: hidden; 
}
.sidenav nav #i-login, #i-langue{
    transition-duration: 0.3s;
}






/* ____________________________________________________________________________ header */

header{
    background-color: black;
    height: 60px;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ff6f00,#eaff00, #4c00ff);
}

header nav{
    display: flex;
}

header .logo{
    width: 10rem;
    object-fit: contain;
    cursor: pointer;
}

header nav a{
    font-family: "copperplate";
    color: white;
    padding: 0 0.5rem;
    margin: 1rem 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    cursor: pointer;
}

header nav a:hover{
    border-bottom: 0.5px solid #ffffff58;
}

header #icons-login-language{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
}

header #icons-login-language i{
    cursor: pointer;
}

header #icons-login-language #dropdown-language{
    flex-direction: column;
    position: absolute;
    gap: 2rem;
    padding: 1rem 1rem;
    background-color: #000000;
    top: 80px;
    right: 1.9rem;
    /* border:1px solid #4b4b4b; */
    border-radius: 5px;
}

header #icons-login-language #dropdown-language img{
    width: 1.5rem;
    cursor: pointer;
}

header #icons-login-language #dropdown-login{
    flex-direction: column;
    position: absolute;
    background-color: #000000;
    padding: 1rem 0;;
    top: 70px;
    right: 6rem;
    /* border: 1px solid #4b4b4b; */
    border-radius: 5px;
}

header #icons-login-language #dropdown-login .dropdown-link{
    font-family: "copperplate";
    color: white;
    padding: 0 2rem;
    text-decoration: none;
    display: flex;
    align-items: center
}

header #icons-login-language #dropdown-login .dropdown-link a{
    font-family: "copperplate";
    color: white;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

header #icon-burger{
    padding: 1rem;
    color: white;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}




    

/* ____________________________________________________________________________ @media */

@media screen and (max-width : 1200px){

    header nav {
        display: none;
    }

    header #icons-login-language{
        padding: 1rem;
        width: 2rem;
        object-fit: contain;
        display: none;
    }
    
    header #icon-burger{
        display: flex;
        align-items: center;
    }
}







